<html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

<head>
  <link rel="stylesheet" href="index.css">
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>


</head>

<body>

    <div id="components-demo">
        <button-counter></button-counter>
      </div>

<div id="app-2">
    <blog-post title="My journey with Vue"></blog-post>
    <blog-post title="Blogging with Vue"></blog-post>
    <blog-post title="Why Vue is so fun"></blog-post>
</div>

<div id="app-3">
  <blog-post
    v-for="post in posts"
    v-bind:key="post.id"
    v-bind:title="post.title"
    ></blog-post>
</div>

<hr>
<div id="app-4">
  <blog-post2
  v-for="post in posts"
  v-bind:key="post.id"
  v-bind:post="post"
    ></blog-post2>
</div>
<div id="app-41">
  <blog-post2 v-bind:post="{'id':'222','title':'weee','content':'gee'}" title="haha" content="www"></blog-post2>
</div>

<div id="blog-posts-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <blog-post2
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
    ></blog-post2>
  </div>
</div>

<div id="blog-posts3-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <blog-post3
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
      v-on:enlarge-text="postFontSize += 0.1"
    ></blog-post3>
  </div>
</div>
<div id="blog-posts4-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <blog-post4
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
      v-on:enlarge-text="postFontSize += $event"
    ></blog-post4>
  </div>
</div>

<div id="app-5">
  <custom-input v-model="searchText"></custom-input>
</div>




<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
  <input v-model.lazy="message">
</div>

<div id="app-7">
  <ol>
    <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
    -->
    <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>

<div id="app-8">
  <p>{{ foo + "aa" }}</p>
  <!-- 这里的 `foo` 不会更新！ -->
  <button v-on:click="foo = 'baz'">Change it</button>
</div>

<div id="app-9">
  <button v-bind:disabled="isButtonDisabled">Button</button>
</div>

<div id="app-10">
  <p>{{ message }}</p>
  <p>{{ reversedMessage }}</p>
  <button v-on:[eventname]="reverseMessage">反转消息</button>
</div>

<div id="demo">{{ fullName }}</div>
<div id="demo2">{{ fullName }}-{{ firstName }}-{{ lastName }}</div>

<div id="watch-example">
  <p>
    Ask a yes/no question:
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
</div>

<ul id="v-for-object" class="demo">
  <li v-for="value in object">
    {{ value }}
  </li>
</ul>

<div id="v-if">
  <div v-if="Math.random() > 0.5">
    Now you see me
  </div>
  <div v-else>
    Now you don't
  </div>
</div>

<div id="app-15">
<li v-for="(n,k,i) in evenNumbers"
    v-bind:key="i">{{ n }}</li>
</div>


<div id="app-16">
  <ul v-for="set in sets">
    <li v-for="n in even(set)">{{ n }}</li>
  </ul>
</div>

<div id="app-17">
  <ul>
    <template v-for="item in items">
      <li>{{ item.msg }}</li>
      <li class="divider" role="presentation"></li>
    </template>
  </ul>
</div>

<div id="app-18">
  <button v-on:click="warn('Form cannot be submitted yet.', $event)">
    Submit
  </button>
  <button v-on:click.stop.prevent="counter += 1">
    Submit
  </button>
  <input v-on:keyup.enter="counter += 1">
  <p>The button above has been clicked {{ counter }} times.</p>
</div>


<div id="app-19">
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names: {{ checkedNames }}</span>

  <select v-model="selected">
    <option disabled value="">请选择</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ selected }}</span>


  <input v-model="message" placeholder="edit me">
  <p>Message is: {{ message }}</p>

  <input v-model.lazy="age2">
  <span>{{age2}}</span> 

  <input v-model.number="age" type="number">
  <span>{{age}}</span>

  <input v-model.number.lazy="age3" type="number">
  <span>{{age3}}</span>
</div>


<script src="test2.js"></script>
<!--
<script src="/live2dw/lib/L2Dwidget.min.js?094cbace49a39548bed64abff5988b05"></script>
<script>
  L2Dwidget.init({pluginRootPath:"live2dw/",pluginJsPath:"lib/",pluginModelPath:"assets/",model:{scale:1.2,hHeadPos:.5,vHeadPos:.618,jsonPath:"/live2dw/assets/tororo.model.json"},display:{superSample:2,width:150,height:300,position:"right",hOffset:0,vOffset:-20},mobile:{show:!1,scale:.5},react:{opacityDefault:.7,opacityOnHover:.2},log:!1,tagMode:!1})
</script>
<div id="live2d-widget" class="live2d-widget-container" style="position: fixed; right: 0px; bottom: -20px; width: 150px; height: 300px; z-index: 99999; opacity: 1; pointer-events: none;"><canvas id="live2dcanvas" width="300" height="600" style="position: absolute; left: 0px; top: 0px; width: 150px; height: 300px;"></canvas></div>
-->
<script>

</script>
</body>

</html>